


.header {
    border: 1px solid black;
    background-color:  rgb(39, 188, 199);
    padding: 90px;
    margin: 70px 0px 0px 450px;
    border-top: salmon solid 30px;
    border-bottom: salmon solid 30px;
    width: 50%;

}
.boxes {
    display: flex;
    border: 2px solid black;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(39, 188, 199);
    margin-top: 100px;
    margin-bottom: -50px;
    

}

/*Results*/
.boxes div{
    
    padding: 15px;
    align-items: center;
}